.home {
  height: 100vh;
  width: 100%;
}

.display_settings {
  height: 6vh;
  width: 100%;
}

.display {
  min-height: 94vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 17px;
  box-sizing: border-box;
  background-color: #f4f5f8;
}

@media screen and (max-width: 720px) {
  .display {
    justify-content: center;
  }
}
