.card {
  margin: 2vh 0 0 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 8px 20px;
  box-sizing: border-box;
  cursor: pointer;
  flex-wrap: wrap;
}

.row1{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0;
  flex-wrap: wrap;
}

.id {
  font-size: 13px;
  font-weight: 600;
  color: #63719c;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.row2 {
  display: flex;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 10px;
}

.statusIcon {
  margin-right: 5px;
}

.title {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  font-weight: 600;
  color: #1c202c;
}

.row3 {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 2px 0;
  flex-wrap: wrap;
}

.priorityIcon {
  width: 22px;
  height: 22px;
  border: 2px solid #eceef3;
  padding: 1px;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.tag {
  border: 2px solid #eceef3;
  padding: 1px 7px;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagCircle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagName {
  font-size: 12px;
  font-weight: 600;
  color: #95a0bc;
}


